.navbar{
    display: flex;
    justify-content: space-around;
    padding: 2px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    padding: 2px;
    align-items: center;
    gap: 2px;
}
.mylogo{
    height: 50px;
    width: 50px;
}
.nav-title p{
    padding: 2px;
    align-items: center;
    justify-content: center;
    color: rgb(22, 22, 22);
    font-size: 48px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(37, 37, 37);
    font-size: 16px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 5px;
    background:  #404040;
}
.nav-login-cart{
    display: flex;
    padding: 65px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    gap: 20px;
}

.nav-login-cart button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 34px;
    outline: none;
    border: 1px solid #404040;
    border-radius: 30px;
    color: rgb(37, 37, 37);
    font-size: 18px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #d3d3d3;
}
.nav-cart-count{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: -17px;
    border-radius: 25px;
    font-size: 12px;
    background: red;
    color: white;
}